<!DOCTYPE html>
<html>
    <head>
        <title>Dev @ Vending Machine @ SCP</title>
        <meta charset="utf-8">

        <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="../node_modules/vue/dist/vue.js"></script>
        <link rel="stylesheet" type="text/css" href="../node_modules/muse-ui/dist/muse-ui.css">
        <script type="text/javascript" src="../node_modules/muse-ui/dist/muse-ui.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="step-container">
                <mu-stepper v-bind:active-step="activeStep">
                    <mu-step>
                        <mu-step-label>
                            Choose Your Products
                        </mu-step-label>
                    </mu-step>
                    <mu-step>
                        <mu-step-label>
                            Confirm Your Products
                        </mu-step-label>
                    </mu-step>
                    <mu-step>
                        <mu-step-label>
                            Make Payment
                        </mu-step-label>
                    </mu-step>
                </mu-stepper>
                <div v-if="!finished">
                    <mu-button flat class="demo-step-button" v-bind:disabled="activeStep === 0" v-on:click="handlePrev"> Previous </mu-button>
                    <mu-button class="demo-step-button" color="primary" v-on:click="handleNext">
                        {{ activeStep === 2 ? 'Finish' : 'Next'}}
                    </mu-button>
                </div>
                <div v-if="finished">
                    Finished!
                </div>
            </div>
        </div>
        <script src="../js/script.js"></script>
    </body>
</html>
